body {
    min-height: 100%;
    position: relative;
}

#searchbarbutton {
  height: 45px;
  width: 55px;
  position: relative;
  margin-right: -2px;
  background-color: white;
}

#google-button {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.473);
  border: none;
  position: center; }
