body {
    min-height: 100%;
    position: relative;
}

#searchbar {
  width: 625px;
  height: 45px;
  border-radius: 100px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  position: relative;
  bottom: 5px;
  overflow: hidden;
  display: flex;
  z-index: 100;
}

#searchbar:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#searchbarbutton {
  height: 45px;
  width: 55px;
  position: relative;
  margin-right: -2px;
  background-color: white;
}

#searchbar > input:focus {
  outline: none;
}

#searchbarbutton {
  height: 45px;
  width: 55px;
  position: relative;
  margin-right: -2px;
  background-color: white;
}


#searchresultsarea {
  margin-left: 150px;
  font-family: "Arial";
}

#searchresultsnumber {
  font-size: 0.8rem;
  color: gray;
}

.searchresult {
  margin-left: 8px;
}

.searchresult h2 {
  font-size: 19px;
  line-height: 18px;
  font-weight: normal;
  color: rgb(29, 1, 189);
  margin-bottom: 0px;
  margin-top: 25px;
}

.searchresult a {
  font-size: 14px;
  line-height: 14px;
  color: green;
  margin-bottom: 0px;
}

.searchresult button {
  font-size: 10px;
  line-height: 14px;
  color: green;
  margin-bottom: 0px;
  padding: 0px;
  border-width: 0px;
  background-color: white;
}

